package infra

import "github.com/andreasf6/fresneda-digital/internal/infra/components"

templ withHeader() {
	<head>
		<link rel="stylesheet" href="/static/index.css"/>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200..700&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link
			href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="google-site-verification" content="K4qFQ_1kLhYwMV_l4Hg9fhWXPUjSKysriLJ2-msKpQA" />
		<link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg"/>
		<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png"/>
		<link rel="shortcut icon" href="/static/favicon/favicon.ico"/>
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png"/>
		<link rel="manifest" href="/static/favicon/site.webmanifest"/>
	</head>
	<body class="inria-sans-regular">
		{ children... }
	</body>
}

templ Main() {
	@withHeader() {
		@components.Header()

		@components.WorkAndEducationSection()

		@components.AwardsSection()

		@components.VolunteerSection()

		@components.SkillsSection()

		@components.Footer()
	}
}

