@keyframes slide-to-right {
  from {
    transform: translateX(0);
    z-index: 2;
  }

  to {
    transform: translateX(100vw);
    z-index: 2;
  }
}

::view-transition-old(root) {
  animation: slide-to-right 0.3s;
}

::view-transition-new(root) {
  animation: none;
}

h1 {
  margin-bottom: 20px;
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
  line-height: 1.1;
  view-transition-name: header;
}